.breaker {
    height: 100px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 255, 127);
}

.header {
    position: relative;
    font-family: sans-serif;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    isolation: isolate;
}

.header::after {
    content: '';
    position: absolute;
    background-image: url("./Gallery/Photos/LocalizaçãoA4Teste.png");
    background-position: center;
    background-size: cover;
    z-index: -1;
    inset: 0;
    opacity: 0.3;
}

.header-description {
    position: relative;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    isolation: isolate;
}

.header-description::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 15px;
    background-color: rgba(137, 223, 125, 0.547);
}

.texts {
    font-family: sans-serif;
    text-align: justify;
    font-size: 18px;
    width: 1000px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.texts-english {
    font-family: sans-serif;
    text-align: justify;
    color: rgb(67, 67, 67);
    width: 1000px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.about-research {
    position: relative;
    padding: 50px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    isolation: isolate;
}

.about-research::after {
    content: '';
    position: absolute;
    background-image: url("./Gallery/Photos/11MataDesc.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    inset: 0;
    opacity: 0.5;
}

.educational-product {
    position: relative;
    font-family: sans-serif;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    isolation: isolate;
}

.educational-product::after {
    content: '';
    position: absolute;
    background-image: url("./Gallery/Photos/18BicicletaSaida.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    inset: 0;
    opacity: 0.5;
}

.didact-sequence {
    position: relative;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    isolation: isolate;
}

.didact-sequence::after {
    content: '';
    position: absolute;
    background-image: url("./Gallery/Photos/1ArvoreCerrado.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    inset: 0;
    opacity: 0.5;
}

.results-and-discussion {
    position: relative;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    isolation: isolate;
}

.results-and-discussion::after {
    content: '';
    position: absolute;
    background-image: url("./Gallery/Photos/1ArvoreCerrado.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    inset: 0;
    opacity: 0.5;
}

.gallery {
    position: relative;
    padding: 50px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    isolation: isolate;
}

.gallery::after {
    content: '';
    position: absolute;
    background-image: url("./Gallery/Photos/1ArvoreCerrado.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    inset: 0;
    opacity: 0.5;
}

.gallery-showcase {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    align-items: center;
    justify-content: space-around;
    isolation: isolate;
}

.contact-info::after {
    content: '';
    position: absolute;
    background-image: url("./Gallery/Photos/1ArvoreCerrado.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    inset: 0;
    opacity: 0.5;
}

.info {
    padding: 10px;
    width: 250px;
    height: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.7);
}

.photo-contact-info {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: rgb(252, 2, 194);
}