.breaker {
    height: 100px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 255, 127);
}

.pseudo-breaker {
    height: 50px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: rgb(189, 241, 127);
}

.mini-breaker {
    font-size: 0;
}

.navi {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.navis {
    color: black;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 7px;
    padding-right: 7px;
}

.modal-pdf {
    padding: 20px;
    align-items: center;
}

.modal-pdf-2 {
    padding: 20px;
    padding-right: 80px;
    align-items: center;
}

.modal-organizer {
    display: flex;
    flex-wrap: nowrap; 
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header {
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    isolation: isolate;
}

.header::after {
    content: '';
    position: absolute;
    background-image: url("./Gallery/Photos/LocalizaçãoA4Teste.png");
    background-position: center;
    background-size: cover;
    z-index: -1;
    inset: 0;
    opacity: 0.5;
}

.header-description {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    isolation: isolate;
}

.header-description::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 15px;
    background-color: rgba(137, 223, 125, 0.547);
}

.texts {
    font-family: sans-serif;
    text-align: justify;
    text-indent: 20px;
    font-size: 16px;
    width: 80%;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
}

.texts-2 {
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
}

.texts-language {
    font-family: sans-serif;
    text-align: justify;
    font-size: 16px;
    text-indent: 20px;
    color: rgb(67, 67, 67);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inter-texts {
    padding-top: 20px;
    padding-bottom: 20px;
}

.presentation {
    position: relative;
    padding: 50px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    isolation: isolate;
}

.presentation::after {
    content: '';
    position: absolute;
    background-image: url("./Gallery/Photos/18BicicletaSaida.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    inset: 0;
    opacity: 0.7;
}

.about-research {
    position: relative;
    padding: 50px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    isolation: isolate;
}

.about-research::after {
    content: '';
    position: absolute;
    background-image: url("./Gallery/Photos/1ArvoreCerrado.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    inset: 0;
    opacity: 0.7;
}

.didact-sequence {
    position: relative;
    font-family: sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    isolation: isolate;
}

.didact-sequence::after {
    content: '';
    position: absolute;
    background-image: url("./Gallery/Photos/9Arvore.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    inset: 0;
    opacity: 0.7;
}

.organizer {
    width: 80%;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.steps {
    position: relative;
    font-family: sans-serif;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    isolation: isolate;
}

.steps::after {
    content: '';
    position: absolute;
    background-image: url("./Gallery/Photos/23CaminhoRua.png");
    background-position: center;
    background-size: cover;
    z-index: -1;
    inset: 0;
    opacity: 0.7;
}

.gallery {
    position: relative;
    padding: 50px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    isolation: isolate;
}

.gallery::after {
    content: '';
    position: absolute;
    background-image: url("./Gallery/Photos/6ArvoreEscura.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    inset: 0;
    opacity: 0.7;
}

.gallery-showcase {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info {
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    align-items: center;
    justify-content: space-around;
    isolation: isolate;
}

.contact-info::after {
    content: '';
    position: absolute;
    background-image: url("./Gallery/Photos/16BicicletaLongeDesc.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    inset: 0;
    opacity: 0.7;
}

.info {
    padding: 10px;
    width: 27%;
    height: 550px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.7);
}

.photo-contact-info-ju {
    width: 65%;
    height: 50%;
    border-radius: 50%;
    background-image: url(./ContactInfo/Fotos/Jucelino.jpeg);
    background-repeat: no-repeat;
    background-size: 270px 300px;
}

.photo-contact-info-ol {
    width: 65%;
    height: 50%;
    border-radius: 50%;
    background-color: blueviolet;
}

.footer-foda {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}