.fgallery-item {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 3px;
    background-color: gray;
}

.gallery-item {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: gray;
}

.lgallery-item {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 3px;
    padding-right: 7px;
    background-color: gray;
}
