.fgallery-item {
    padding: 7px;
    border-radius: 10px;
    background-color: rgba(119, 119, 119, 0.7);
}

.testudo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}
